<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mfo.youtube-scanner</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd /Users/toddcole/Projects/apps/youtube-download/scanner &amp;&amp; python3 scanner.py</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/toddcole/Projects/apps/youtube-download/scanner</string>

  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>8</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>20</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </array>

  <key>StandardOutPath</key>
  <string>/tmp/com.mfo.youtube-scanner.out.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/com.mfo.youtube-scanner.err.log</string>
</dict>
</plist>
